<div id="wrap">

<h1>What is <span id="fms">Fix My School</span>?</h1>
	<p class="">It's a place to petition teachers, board members, or your school administration to bring change to your classroom.  Our goal is to bring the decision-making process closer to the students by helping you voice concerns.</p>
<hr>

<div id="popular">
	<h2>Popular Petitions</h2>
		<ul>
			<% Petition.all.each do |p| %>
				<li><%= link_to p.title, school_petition_path(p.school, p) %></li>
				<hr>
			<% end %>
		</ul>
</div>
<hr>

</div>